.body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  margin:0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
}

.header-bg{
  background-color: #000000;
}

.header{
  display: flex;
  flex-wrap: wrap; /*para o elemento não estourar minha margem, assim sendo, quando não tiver mais espaço ele irá quebrar o conteúdo para baixo*/
  justify-content: space-between;
  align-items: center;
  gap: 20px; /*para o conteúdo não ficar grudado quando quebrar*/
  padding: 20px;
  box-sizing: border-box; /*faz com que o valor de max-width n some com meu padding*/
  max-width: 1200px;
  margin-left: auto; /*margin auto para caso o elemento passe do tamanho que defini para meu container(1200px), meu conteúdo fique centralizado*/
  margin-right: auto;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a{
  color: #ffffff;
  display: inline-block; /* por padrão o padding não vai funcionar totalmente certo quando os itens ficarem um em baixo do outro(responsividade), pois o elemento está definido como inline, por isso usamos inline-block*/
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.header-menu a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px; /*para não mostrar nada ainda*/
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s; /*geralmente 0.3 é o valor ideal para transições*/
  position: absolute; /*como tenho 2px de height + 4px de margin, os elementos não vão ficar totalmente alinhados, por isso usamos position absolute e relative no pai, pois aí todos os elementos ficarão alinhados*/
}

.header-menu a:hover::after{
  width: 100%; /* para minha linha percorrer 100% do tamanho do meu <a>*/
}

@media (max-width: 800px){
  .header-menu{
    gap: 20px;
  }
  .header-menu a{
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover{
    background: #2e2e2e;
  }
  .header a::after{
    display: none;
  }
}

@media (max-width:600px){
  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;
  }
}