body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1, ul, p{
  margin: 0px;
}

ul{
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit; /* meu <a> sempre vai herdar a cor do elemento pai*/
}

img{
  max-width: 100%;
  display: block;
}

.header-bg{
  background-color: #000000;
}

.header{
  display: flex;
  flex-wrap: wrap; /*para o elemento não estourar minha margem, assim sendo, quando não tiver mais espaço ele irá quebrar o conteúdo para baixo*/
  justify-content: space-between;
  align-items: center;
  gap: 20px; /*para o conteúdo não ficar grudado quando quebrar*/
  padding: 20px;
  box-sizing: border-box; /*faz com que o valor de max-width n some com meu padding*/
  max-width: 1400px;
  margin-left: auto; /*margin auto para caso o elemento passe do tamanho que defini para meu container(1200px), meu conteúdo fique centralizado*/
  margin-right: auto;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a{
  font-family: 'Poppins';
  font-weight: 400;
  color: #ffffff;
  display: inline-block; /* por padrão o padding não vai funcionar totalmente certo quando os itens ficarem um em baixo do outro(responsividade), pois o elemento está definido como inline, por isso usamos inline-block*/
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.header-menu a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px; /*para não mostrar nada ainda*/
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s; /*geralmente 0.3 é o valor ideal para transições*/
  position: absolute; /*como tenho 2px de height + 4px de margin, os elementos não vão ficar totalmente alinhados, por isso usamos position absolute e relative no pai, pois aí todos os elementos ficarão alinhados*/
}

.header-menu a:hover::after{
  width: 100%; /* para minha linha percorrer 100% do tamanho do meu <a>*/
}

@media (max-width: 800px){
  .header-menu{
    gap: 20px;
  }
  .header-menu a{
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover{
    background: #2e2e2e;
  }
  .header a::after{
    display: none;
  }
}

@media (max-width:600px){
  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;
  }
}

.introducao-bg{
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff;
}

.introducao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1400px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao h1 span{
  color: #ffbb00;
}

.introducao-conteudo{
  align-self: end;
  padding-bottom: 240px;
}

.introducao img{
  height:100%;
  object-fit: cover; /*para minha imagem não distorcer quando muda o tamanho da tela*/
  border-radius: 4px;
}

.introducao h1{
  font-family: 'Poppins';
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}

.introducao p{
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a{
  font-family: 'Poppins';
  font-weight: 600;
  display: inline-block; /*para pegar as medidas de padding corretamente*/
  padding: 16px 32px;
  background: linear-gradient(#ffbb00, #d2a50c);
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #322200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao a:hover{
  background: linear-gradient(#ffb60d, #e59317); 
}

@media (max-width: 600px){
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}

@media (max-width: 1200px){
  .introducao h1{
    font-size: 48px;
  }
  .introducao p{
    font-size: 18px;
  }
}

@media (max-width: 800px){
  .introducao-bg{
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao{
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo{
    padding-bottom: 0px;
  }
  .introducao h1{
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao img{
    height: 300px;
    width: 100%;
  }
}