.tecnologia-bg{
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0); /*sombra interna, 0 px pros lados e 120 cima/baixo (px negativo pois a sombra é para baixo*/
}

.tecnologia{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-imagem img{
  width: 100%;
  height: 100%;
  object-fit: cover; /*para a foto não ficar esmagada quando eu forço ela a ficar com height 100% do conteúdo*/
  object-position: left; /*foto começa a ser cortada pela esquerda*/
}

.tecnologia-conteudo{
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologia-conteudo > span{
  display: block; /*colocando display block pois como span é por padrçao um elemento inline, a margin bottom n funcionaria*/
  margin-bottom: 20px;
}

.tecnologia-conteudo h2{
  margin-bottom: 32px;
}

.tecnologia-conteudo > p{ /* > pois quero aplicar as alterações apenas no p que pertence à tecnologia-conteudo*/
  margin-bottom: 20px; 
}

.tecnologia a{
  margin-bottom: 80px;
}

.tecnologia-vantagens{
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens h3{
  margin-bottom: 8px;
  width: max-content; /*para não quebrar o título, ou seja, max-content sempre vai ter o tamanho máximo do elemento em que ele estão sendo aplicado, sem quebrar linha*/
}

.tecnologia-vantagens img{
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px){
  .tecnologia-bg{
    box-shadow: initial; /*tirando o conteúdo vazando*/
  }
  .tecnologia{
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologia-imagem{
    display: none;
  }
  .tecnologia a{
    margin-bottom: 60px;
  }
}

@media (max-width: 600px){
  .tecnologia-vantagens{
    flex-direction: column;
  }
}