.vantagens-bg{
  background-color: black;
}

.vantagens{
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2{
  margin-bottom: 60px;
}

.vantagens ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));/*autofit irá automaticamente tentar colocar o máximo de colunas que der no espaço. Essas colunas terão o mínimo de 280px, ou seja, se não couber 280px na tela ele irá quebrar a coluna e o tamanho máximo será seu próprio conteúdo*/
  gap: 40px 80px;
}

.vantagens h3, .vantagens img{
  margin-bottom: 8px;
}

@media (max-width:800px){
  .vantagens{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens h2{
    margin-bottom: 40px;
  }
  .vantagens ul{
    gap: 20px;
  }
}